
body {
	font-family: "Source Sans Pro","Roboto","Helvetica Neue","Helvetica","Roboto","Arial","sans-serif";
	margin: 0;
	background: #d8d8d8;
	line-height: 1.8;
	letter-spacing: 3px;
	font: Abel;
}

p {
	color:#000;
}

img {
	max-width: 100%
}

h1 {
	text-align: center;
	font-size: 350%;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	color: #18bc9c;
}

#lefticon {
	float:left;
	padding: 15px;
	font-size: 24px;
}

#lefticon a {
	transition:.5s;
  	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
}

.container {
	max-width: 1000px;
    margin: auto;
    color:white;
}

.container-blog {
	width: 65.33333333%;
	float: left;
    color:white;
    background: white;
    margin-top: 100px;
    border: solid 1px #bdbdbd;
    box-shadow: 0 0 50px #bbbbbb;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

.container ul {
	padding: 0;
	margin: 0;
	color: #d0d0d0;
	float: right;
}

.container ul li {
	display: inline-block;
	padding: 12px 12px 4px 12px;
	font-size:16px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#mainheader {
	position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    background-color: #2c3e50;
    box-shadow: 0px 4px 27px 0px rgba(45,45,45,0.15);
    border-top: 0px solid rgba(45, 45, 45, 1);
    border-bottom: 0px solid rgba(45, 45, 45, 1);
    text-transform: uppercase;
    padding-top: 25px;
    padding-bottom: 25px;
    font-weight: 500;
    font-size: 18px;
    border-bottom: solid 1px #ffffff8c;
}

.inner_wrapper {
    margin: auto;
    max-width: 800px;
}

.inner_wrapper h1 {
	word-spacing: 800px;
	text-align: left;
	font-family: 'Abel', sans-serif;
	line-height: 120px;
	letter-spacing: 13px;
	font-size: 90px;
	padding-top:100px; 
	padding-left: 5px;
	padding-right: 5px;
	color:#fff;
	text-shadow: -1px 0 #888888, 0 1px #888888, 1px 0 #888888, 0 -1px #888888;
}

.sidebar {
	float: right;
    width: 33.33333333%;
    margin-top: 100px;
}

.sidebar-widget {
	padding: 40px;
    background: white;
    border: solid 1px #bdbdbd;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	margin-bottom: 20px;
}

.sidebar-widget h3 {
	font-size: 24px;
	margin: 0;
}

#row {
	text-align: center;
}

#mainfooter {
	text-align: center;
	background-color: #bfbfbf;
	padding:40px;
    box-shadow: 0 50vh 0 50vh #bfbfbf;
}

/***********************************************************
 *	Parallax settings
 */
.parallax {
	position: absolute;
	height: 100%;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
	filter: contrast(60%);
	background-size:cover;
	z-index: -10;
	overflow: auto;
}

.static {
	position: relative;
	min-height: 900px;
	background-repeat: no-repeat;
	background-position: center;
	background-size:cover;
	overflow: auto;
}

#sub_block_image_1 {
	background-image: url('/media/images/background_block_1.jpg');
}

#sub_block_image_2 {
	background-image: url("/media/images/background_block_2.jpg");
}

#sub_block_image_3 {
	background-image: url("/media/images/background_block_3.jpg");
}

#block_1 {
	position: relative;
	height: 800px; 
	z-index: -4;
}

#block_2 {
	position: relative;
	height: 800px; 
	filter: contrast(60%);
	
}

#block_3 {
	position: relative;
	background: #18bc9c;
	
}

#block_4 {
	position: relative;
	height: 800px;
	overflow: hidden;
}
/* End of parallax settings ************************************/

.box {
	position: absolute;
	background: white;
	max-width: 1000px;
	min-height: 670px;
	z-index: 4;
	left: 0; 
	right: 0; 
	margin: -335px auto 0 auto;
	border: 0px solid rgba(255, 255, 255, 1);
    background-color: #2c3e50;
    border-radius: 0;
    color: white;
    box-shadow: 0px 1px 25px 4px rgba(47,46,46,0.3);
}

.box#about {
	
}


.description_box {
	padding: 120px 140px 100px 140px;
	overflow: auto;
	text-align: center;
}

#wrapper {
	margin: 0 auto;
}

#wrapper-blog {
	max-width: 1320px;
    margin: auto;
    overflow: hidden;
}

.font_1 {
	    font: normal normal normal 65px/1.4em lulo-clean-w01-one-bold,sans-serif;
}

p.bold {
	font-weight: bold;
}

.form-signin {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
	color: #017572;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
	margin-bottom: 10px;
}

.form-signin .checkbox {
	font-weight: normal;
}

.form-signin .form-control {
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
}

.form-signin .form-control:focus {
	z-index: 2;
}

.form-signin input[type="email"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	border-color:#017572;
}

.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-color:#017572;
}

#contact_form {
	float: left;
    width: 50%;
    min-width: 200px;
}

.form_box {
	width: 50%;
	margin-top: 20px;
	padding:12px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
  	box-sizing: border-box;         /* Opera/IE 8+ */
}

#submit {
	background:#acffb6;
	width:100%;
}

#subject {
	resize: none;
	width: 100%;
}

#left_box {
	float:left; 
	width:50%;
	padding-right: 30px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
  	box-sizing: border-box;         /* Opera/IE 8+ */
}

.image_portrait {
	border-radius: 60px;
}

.post {
	color: black;
    text-align: left;
    border-bottom: solid 2px #d5d5d5;
    overflow: auto;
    font: font-family: "PT Sans", sans-serif;
    line-height: 1.42857143;
    font-size: 14px;
    padding: 50px;
    word-wrap: break-word;
}

.post h2 {
	font-size: 26px;
	font-weight: 140;
}

.post-page h2 {
	color: #000;
}

.thumbnail {
	max-height: 200px;
    width: 99%;
    overflow: hidden;
    margin-right: 25px;
    border: solid 1px #ececec;
}

img.postfeed-image {
	width: 100%;
	height: auto;
}

.post-meta {
	display: inline-block;
    margin: 5px 0 0;
    line-height: 20px;
    background-color: #f7f7f7;
    padding: 10px 15px;
    font-size: 12px;
}

.post-meta span {
	display: inline;
    color: #838282;
    position: relative;
    padding-left: 23px;
    margin-right: 12px;
    display: inline-block;
    font-size: 13px;
}

#portfolio {
	padding-left: 170px;
	padding-right: 170px;
}

.box p {
	color: white;
}

#post-thumbnail {
	max-height: 600px;
	overflow: hidden;
	position: relative;
	pointer-events: none;
}

#post-thumbnail img {
	width: 100%;
    height: auto;
}

.thumbnail img {
	width: 100%;
	transition: 0.5s;
	filter: blur(0);
	transform: scale(1);
}

.thumbnail img:hover {
	transition: 1.0s;
	filter: blur(3px);
	transform: scale(1.05);
}

.post-page #post-content {
	padding:0 50px 50px 50px;
	word-wrap: break-word;
}

.text-overlay {
	position: absolute;
    bottom: 40px;
    left: 0;
    background: #0000009c;
    width: 100%;
}

.text-overlay h1 {
	color: white;
	text-align: left;
	padding-left: 50px;
    font-size: 50px;
    position: relative;
    margin: 0;
}

#post-content-meta {
	padding: 50px;
    color: white;
    background: #2c3e50;
}

#post-content-meta span {
	margin-right: 40px;
    background: #ffffff14;
    padding: 8px 15px 8px 30px;
    white-space: nowrap;
}

.sidebar-widget-entry {
	min-height: 70px;
	padding-top: 20px;
	padding-bottom: 20px;
	transition: 0.5s;
}

.sidebar-widget-entry:hover {
	transition: 0.2s;
	background: #f9f9f9;
}

.sidebar-widget-entry span {
	display: block;
}

.small-thumbnail {
	float: left;
	height: 60px;
    width: 60px;
    overflow: hidden;
    margin-right: 20px;
    border: solid 1px #ececec;
}

.small-thumbnail img {
	width: 100%;
	height: 100%;
}

@media only screen and (max-width: 900px) {
	.container-blog {
		width: 100%;
		margin-top: 80px;
	}

	.sidebar {
		margin-top: 20px;
		width: 100%;
	}

	#mainheader {
		position: fixed;
		border-bottom: solid 1px black;
	}

	#mainheader ul li {
		padding-top: 0;
		padding-bottom: 0;
	}

	#lefticon {
		padding-bottom: 0;
		padding-top: 0;
	}

	#mainheader ul li, #lefticon {
		letter-spacing: -1px;
	}

	#mainheader li:nth-child(-n+3)
	{
		display: none;
	}

	#description_box {
		padding-top: 6px !important;
	}

	#left_box {
		width: 100%;
		padding: 0;
	}

	#contact_form {
		width: 100%;
	}

	.post {
		padding: 0;
		margin-bottom: 20px;
	}

	#post-content, #post-content-meta, .sidebar-widget, #lefticon, #portfolio,
	#description_box {
		padding-left: 20px !important;
		padding-right: 20px !important;
	}

	.post-meta {
		width: 100%;
		padding-left: 0;
		padding-right: 0;
	}

	.sidebar-widget {
		padding-top: 10px;
		padding-bottom: 0;
	}

	.sidebar-widget-entry {
		padding-top: 5px;
		padding-bottom: 5px;
	}

	.text-overlay h1 {
		line-height: 70%;
	}

	#block_1, #block_2, #block_4 {
		height: 700px;
	}

	/* Disable JS parallax since it is very taxing */
	#sub_block_image_1, #sub_block_image_2, #sub_block_image_3 {
		background-position-y: 0px !important;
	}

	#post-thumbnail {
	    max-height: 300px;
	}

}